<div class="container">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Login
      </div>
      <div class="panel-body">
        <form ng-submit="auth.login()">
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" ng-model="auth.login.user.email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="auth.login.user.pwd">
          </div>
          <button class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Register
      </div>
      <div class="panel-body">
        <form name="register" ng-submit="auth.register()">
          <div class="form-group">
            <label>Email address</label>
            <input type="email" class="form-control" ng-model="auth.user.email">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="pwd" ng-model="auth.user.pwd">
          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" compare-to="auth.user.pwd" name="pwdConfirm" ng-model="pwdConfirm">
          </div>
          <span ng-show="register.pwdConfirm.$dirty && register.pwdConfirm.$invalid">Passwords do not match</span>
          <button class="btn btn-default" ng-disabled="register.pwdConfirm.$invalid">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
