<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Post a message</div>
    <div class="panel-body">
      <div class="input-group">
      <textarea class="form-control custom-control" rows="3" style="resize: none" ng-model="main.message">
      </textarea>
        <span class="input-group-addon btn btn-primary" ng-click="main.postMessage()">Post</span>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Messages</div>
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="message in main.messages">
          {{message.msg}} - {{ message.user.email}}
        </li>
      </ul>
    </div>
  </div>

</div>
